*{
    font-family: var(--font-family-editor);
}
:root
{
    --font-size-small:               16px;
    --font-size-side-dock-title:     18px;
    --font-size-normal:              19px;
    --font-size-h1:                  24px;
    --font-size-h2:                  23px;
    --font-size-h3:                  22px;
    --font-size-h4:                  21px;
    --font-size-h5:                  20px;
    --font-family-editor:            Avenir, Avenir Next, sans-serif;
    --cor-branca:                 #f8f8f2;
    --cor-dark:                   #282a36;
    --cor-roxo3:                  #44475a;
    --border-color:               #2b2727; 
    --cor-roxo1:                  #6272a4;
    --cor-roxo2:                  #bd93f9;
    --cor-rosa:                   #ff79c6;
    --cor-vermelho:               #ff5555;
    --cor-laranja:                #ffb86c;
    --cor-verde:                  #50fa7b;
    --cor-azul:                   #8be9fd;
} 
body{
  background: linear-gradient(#141e30, #243b55);
    color: #f8f8f2;
}

/* headder */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background: #2b2727;
    height: 100px;
}
.menu{
    display: flex;
    align-items: center;
}
.menu > img{
    height: 50px;
}
.menu > a > img{
  height: 50px;
}
.menu__title{
    font-size: var(--font-size-h3);
    margin-right: 64px;
}
.wrapper {
    position: relative;
    display: flex;
    min-width: 100px;
}
  
.search {
    border: 2px solid #6272a4;
    border-radius: 40px;
    height: 25px;
    width: 390px;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f8f8f2;
}
  
.search-icon {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 14px;
}
  
.clear-icon {
    position: absolute;
    top: 9px;
    right: 8px;
    width: 12px;
    cursor: pointer;
    visibility: hidden;
}
  
.search:hover, .search:focus {
    border: 2px solid #8be9fd;
    background-color: #f8f8f2;
}
.btn {
  width: 182px;
  height: 51px;
  background: transparent;
  cursor: pointer;
  border-color: #8be9fd;
  color: #2b2727;
  box-shadow: 0 0 40px 40px #8be9fd inset, 0 0 0 0 #8be9fd;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.btn:hover {
  box-shadow: 0 0 10px 0 #8be9fd inset, 0 0 10px 4px #8be9fd;
  color: #f8f8f2;
}
/* The hero image */
.hero__image{
  border: none;
  background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../imgs/capahero.png");
  padding: 2rem;
}
.hero__text > h1, .hero__text > h3{
  padding: 2px;
  margin: 0;
}
.hero__text{
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-left: 10px;
}
.hero__text > h1 {
  font-size: 52px;
}
.hero__text > h3 {
  font-size: 22px;
}
.hero__button{
  margin-top: 10px;
}
/*Tablet*/
@media (max-width: 800px){
  .search{
    width: 100%;
  }
  .menu__title{
    margin-right: 32px;
}
}
/*Celular*/
@media (max-width: 425px){
.header{
    padding: 10px;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
}
.menu{
  flex-wrap: wrap;
  justify-content: flex-start;
}
.search{
  width: 300px;
}
.login__button{
  height: 40px;
  width: 150px;
  margin-top: 8px;
  position: absolute;
  top: 20px;
  right: 15px;
}
.hero__text > h1 {
  font-size: 22px;
}
.hero__text > h3 {
  font-size: 14px;
}
.hero__button{
  font-size: 12px;
  color: #2b2727;
  width: 119px;
  height: 40px;
}
.hero__image{
  padding: 0;
  padding-bottom: 10px;
}
}